<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='style/succ.css')}}">
<link rel="stylesheet" href= "{{ url_for('static',filename='style/nogil.css')}}">
<link rel="stylesheet" href= "{{ url_for('static',filename='style/nogil1.css')}}">

</head>
<body style="background-image: url('/static/assets/images/welcome.jpg')" >

<table style="background-image: url('/static/assets/images/OIP.jfif');margin-top: 90px">

    <tr>
        <td>
            <a style="margin-top: 60px; margin-left:480px; margin-bottom:70px" href="/views">View messages</a>
        </td>

    <td>
        <a  style="margin-top: 60px; margin-right:300px; margin-bottom:70px" href="/delete">Delete messages</a>
     </td>
    </tr>

</table>
</body>
</html>